<template>
    <div class="confirmPassword">
        <div>
            <label for="old">{{ label_new_password }}</label>
            <p>
                <div class="control has-icons-right">
                    <input  type="password"
                    class='input'
                    name="new_password"
                    v-model='new_p'
                    :placeholder='placeholder_new_password'>
                    <span
                        v-show='new_p.length >=  icon_password_show_length && new_p.length < icon_password_min_length'
                        class='icon is-right'>
                        <icon :name='icon_nonvalid_password' :color='icon_nonvalid_password_color'></icon>
                    </span>
                    <span v-show='new_p.length >= icon_password_min_length' class='icon is-right'>
                        <icon :name='icon_valid_password' :color='icon_valid_password_color'></icon>
                    </span>
                </div>
            </p>
        </div>
        <div>
            <label for="old">{{ label_confirm_password }}</label>
            <p>
                <div class="control has-icons-right">
                    <input  type="password"
                    class='input'
                    v-on:input="Confirmed()"
                    v-model='confirm'
                    :placeholder='placeholder_confirm_password'>
                    <span v-show='confirm.length >= icon_confirm_show_length'>
                        <span v-show='new_p !== confirm' class='icon is-right'>
                            <icon :name='icon_nonmatched_password' :color='icon_nonmatched_password_color'>
                            </icon>
                        </span>
                        <span v-show='confirm === new_p' class='icon is-right'>
                            <icon :name='icon_matched_password' :color='icon_matched_password_color'></icon>
                        </span>
                    </span>
                </div>
            </p>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        label_new_password: {
            type: String,
            default: "New Password",
        },
        placeholder_new_password: {
            type: String,
            default: "New Password",
        },
        icon_nonvalid_password: {
            type: String,
            default: "minus-circle",
        },
        icon_nonvalid_password_color: {
            type: String,
            default: "red",
        },
        icon_valid_password: {
            type: String,
            default: "check-circle",
        },
        icon_valid_password_color: {
            type: String,
            default: "lightgreen",
        },
        icon_password_show_length: {
            type: Number,
            default: 2,
        },
        icon_password_min_length: {
            type: Number,
            default: 6,
        },
        label_confirm_password: {
            type: String,
            default: "Confirm Password",
        },
        placeholder_confirm_password: {
            type: String,
            default: "Confirm Password",
        },
        icon_nonmatched_password: {
            type: String,
            default: "minus-circle",
        },
        icon_nonmatched_password_color: {
            type: String,
            default: "red",
        },
        icon_matched_password: {
            type: String,
            default: "check-circle",
        },
        icon_matched_password_color: {
            type: String,
            default: "lightgreen",
        },
        icon_confirm_show_length: {
            type: Number,
            default: 1,
        }
    },
    data() {
        return {
            new_p: "",
            confirm: "",
        }
    },
    methods: {
        Confirmed() {
            this.$emit('confirmedPassword', {
                'password' : this.confirm,
                'matched' : this.confirm === this.new_p
            });
        },

        Clear () {
            this.new_p = '';
            this.confirm = '';
        },
    }
}
</script>

<style lang="scss" scoped>
.confirmPassword {
    input {
        margin-bottom: 10px;
    }
}
</style>
