<template>
    <span id='jb_currency_formatter' class="currency">
        $ {{ formatted }}
    </span>
</template>

<script>
export default {
    props: [
        'amount'
    ],

    computed: {
        formatted() {
            let i = parseFloat(this.amount);
            if (isNaN(i)) {
                i = 0.00;
            }
            let minus = '';
            if (i < 0) {
                minus = '-';
            }
            i = Math.abs(i);
            i = parseInt((i + .005) *100);
            i = i / 100;

            let s = new String(i);
            if (s.indexOf('.') < 0) {
                s += '.00';
            }
            if (s.indexOf('.') == (s.length -2)) {
                s += '0';
            }
            s = minus + s;
            return s;
        }
    }
}
</script>

<style lang="scss" scoped>
</style>
