<template>
    <div class="box">
        <div class="columns is-mobile">
            <div class='column'>
                <slot name='key'></slot>
            </div>
            <div class='column has-text-right'>
                <slot name='value'></slot>
            </div>
        </div>
    </div>

</template>

<script>
export default {
}
</script>

<style lang="scss">
</style>
