<template>
    <div id="number-input">
        <input type="number"
            v-model='value'
            id="numberfield"
            class="input"
            @keyup="Validate"
            :disabled='disabled'>
            <showErrors :activate='showerrors' :errors='errors'></showErrors>
    </div>
</template>

<script>
    import showErrors from './showErrors';

    export default {
        components: {
            EventBus,
            showErrors
        },

        props: {
            min: {
                type: Number,
                required: false,
                // default: null
            },
            min_error_msg: {
                type: String,
                required: false,
                default: 'Value is below range limit'
            },
            max: {
                type: Number,
                required: false,
                // default: null
            },
            max_error_msg: {
                type: String,
                required: false,
                default: 'Value exceeds range limit'
            },
            disabled: {
                type: Boolean,
                required: false,
                default: false
            }
        },

        data: () => ({
            value: '',
            errors: [],
            showerrors: false
        }),

        created () {
            EventBus.$on('showerrors', (value) => {
                if (value === 'delete') {
                    this.showerrors = false;
                }
            })
        },

        methods: {
            Validate () {
                this.errors.length = 0;
                if (this.max !== undefined) {
                    if(Number(this.value) > Number(this.max)) {
                        this.errors.push(this.max_error_msg);
                        this.showerrors = true;
                        return;
                    }
                    else {
                        this.showerrors = false;
                    }
                }
                if (this.min !== undefined) {
                    if (Number(this.value) < Number(this.min)) {
                        this.errors.push(this.min_error_msg);
                        this.showerrors = true;
                        return;
                    }
                    this.showerrors = false;
                }
                EventBus.$emit('numberinput', this.value);
            }
        }
}
</script>

<style lang='scss' scoped>
    #number-input {
        ul {
            text-decoration: none;
            li {
                color: red;
            }
        }
    }
</style>
