<template>
    <div class="showerrors" v-show='Visible'>
        <div class="control">
            <div class="notification is-danger">
                <button type="delete"
                        name="delete"
                        class='delete'
                        @click='DeleteNotification()'
                        v-show='showbutton'>
                </button>
                <p v-for='error in errors'>{{ error }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    components: {
        EventBus
    },

    props: {
        errors: {
            type: [Array, Object],
        },
        activate: {
            type: Boolean
        },
        showbutton: {
            type: Boolean,
            required: false,
            default: true
        }
    },

    data: () => ({
        showme: ""
    }),

    computed: {
        Visible () {
            this.showme = this.activate
            return this.showme;
        }
    },

    methods: {
        DeleteNotification () {
            this.showme = false;
            EventBus.$emit('showerrors', 'delete');
        },
    },
}
</script>

<style lang="scss" scoped>
</style>
