<template>
<div id="generic-report">

    <div class="columns">
        <div class="column has-text-centered">
            <p>{{ report_title }}</p>
        </div>
    </div>

    <div class="columns">
        <div class="column headers" v-for="header in headers">
            {{ header }}
        </div>
    </div>

    <div class="columns records" v-for="record in records">
        <div class="column" v-for='value in record'>
            {{ value }}
        </div>
    </div>


</div>
</template>

<script>
export default {
    props: {
        report_url: {
            type: String,
            required: true
        }
    },

    data: () => ({
        headers: [],
        records: [],
        report_title: ''
    }),

    mounted() {
        const token = localStorage.getItem('token');
        const header = 'Bearer ' + token;
        axios.get('/api' + this.report_url,
        {
              headers: {
                  'Authorization' : header
              }
        })
            .then(response => {
                // console.log(response.data);
                this.headers = response.data.headers;
                this.records = response.data.records;
                this.report_title = response.data.report_title;
          })
            .catch(error => {
                console.log(error);
          })
  },
}
</script>
<style lang="scss" scoped>
#generic-report {
    margin: 20px;
    .headers {
        border-bottom: black solid 2px;
    }
    .records {
        border-bottom: black solid 1px;
    }
}
</style>
