<template>
    <div class="createmessage">
        <div class="columns">
            <div class="column is-6">

                <div class="column">
                    <div class="field has-addons">
                        <div class="control">
                            <router-link :to="{name: 'userlist', params: { url: 'createmessage' }}">
                                <a class="button is-primary" @click='all_users_selected = false'>
                                    Select Users
                                    <span class='tag is-warning'
                                                v-show='user_count > 0 && !all_users_selected'>
                                        {{ user_count }}
                                    </span>
                                </a>
                            </router-link>
                        </div>
                        <div class="control">
                            <a class="button is-info" @click='SelectAllUsers()'>Select All
                                <span class='tag is-warning' v-show='all_users_selected'>
                                    All
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="control">
                            <label for="subject">
                                Subject
                            </label>
                            <div class="column">
                                <input class='input'
                                       type="text"
                                       name="subject"
                                       v-model='subject'>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="control">
                            <label for="body">
                                Body
                            </label>
                            <div class="column">
                                <textarea class='textarea'
                                    type="textarea"
                                    name="body"
                                    v-model='body'>
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="comtrol">
                            <div class="columns">
                                <div class="column is-3">
                                    <label for="important">
                                        Important
                                    </label>
                                </div>

                                <div class="column is-1">
                                    <input type="checkbox"
                                    v-model='important'
                                    name="important"
                                    class='checkbox'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="level">
                            <div class="level-item">
                                <a class='button is-primary' @click='Send()'>Send</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        // users: [],
        users_selected: [],
        user_count: 0,
        subject: '',
        body: '',
        important: false,
        all_users_selected: false
    }),

    mounted () {
        const list = localStorage.getItem('userlist');
        if(list) {
            this.users_selected = JSON.parse(list);
            this.user_count = this.users_selected.length;
        }
    },

    methods: {

        //TODO queries and api calls for all admins/users counts

        SelectAllUsers () {
            if(!this.users_selected) {
                this.users_selected.splice(0);
            }
            this.users_selected.push(0);
            this.all_users_selected = true;
            return;
        },

        Send () {
            const token = localStorage.getItem('token');
            const header = 'Bearer ' + token;
            axios.post('/api/admin/message/create',
                {
                    'users' : this.users_selected,
                    'subject' : this.subject,
                    'body' : this.body,
                    'important' : this.important == true ? 'true' : 'false'
                },
                {
                    headers:
                    {
                        'Authorization' : header
                    }
                })
                .then(response => {
                    localStorage.removeItem('userlist');
                    this.$router.push({name: 'admindashboard'})
                })
                .catch(error => {
                    // this.$router.push({name: 'admindashboard'});
                    console.log(error);
                })

        }
    },
}
</script>

<style lang="scss" scoped>
.createmessage {
    margin: 20px;
    .tag {
        margin-left: 4px;
    }
}
</style>
