<template>
    <div class='admin-dashboard'>
        <div class="tile">
            <div class="column">
                <p class='title'>
                    Actions
                </p>
                <ul>
                    <li>
                        <router-link :to="{name: 'admindashboard'}">
                            <a>Set Fines</a>
                        </router-link>
                    </li>
                    <li>
                        <router-link :to="{name: 'admindashboard'}">
                            <a>Activate/Suspend Users</a>
                        </router-link>
                    </li>
                    <li>
                        <router-link :to="{name: 'admindashboard'}">
                            <a>Activate/Suspend Accounts</a>
                        </router-link>
                    </li>
                    <li>
                        <router-link :to="{name: 'admindashboard'}">
                            <a>Set Welcome Message</a>
                        </router-link>
                    </li>
                    <li>
                        <router-link :to="{name: 'admindashboard'}">
                            <a>Set Rates</a>
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tile">
            <div class='column'>
                <p class='title'>
                    Reports
                </p>
                <ul>
                    <li>
                        <router-link :to="{name: 'genericreport',
                            params: {
                                report_url: '/admin/reports/negativebalances'
                            }}">
                            <a>Accounts With Negative Balances</a>
                        </router-link>
                    </li>
                    <li>
                        <router-link :to="{name: 'genericreport',
                            params: {
                                report_url: '/admin/reports/newestusers'
                            }}">
                            <a>Newest Users</a>
                        </router-link>
                    </li>
                    <li>
                        <router-link :to="{name: 'genericreport',
                            params: {
                                report_url: '/admin/reports/newusers'
                            }}">
                            <a>New Users Per Month</a>
                        </router-link>
                    </li>
                    <li>
                        <div class="columns">
                            <div class="column is-3">
                                <p>Most Active Accounts</p>
                            </div>
                            <div class="column is-2">
                                <router-link :to="{name: 'genericreport',
                                    params: {
                                        report_url: '/admin/reports/mostactiveaccounts/month'
                                    }}">
                                    <a>1 Month</a>
                                </router-link>
                            </div>

                            <div class="column is-2">
                                <router-link :to="{name: 'genericreport',
                                    params: {
                                        report_url: '/admin/reports/mostactiveaccounts/halfyear'
                                    }}">
                                    <a>6 Months</a>
                                </router-link>
                            </div>
                            <div class="column is-2">
                                <router-link :to="{name: 'genericreport',
                                    params: {
                                        report_url: '/admin/reports/mostactiveaccounts/year'
                                    }}">
                                    <a>1 Year</a>
                                </router-link>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.admin-dashboard {
    margin: 20px;
}
</style>
