<template>
<div class="edituserinfo">
    <div class="content">

        <!-- Row 1 -->
        <div class="columns">
            <div class="column is-1">
                <label for="name">Name</label>
            </div>
            <div class="column is-2">
                <input v-model='user.first_name' type="text" name="first_name" id="first_name">
            </div>
            <div class="column is-2">
                <input v-model='user.last_name' type="text" name="last_name" id="last_name">
            </div>
        </div>

        <div class="columns">
            <div class="column is-1">
                <label for="street">Address</label>
            </div>
            <div class="column is-2">
                <input v-model='user.mailing_address_street' type="text" name="street" id="street">
            </div>
        </div>


        <div class="columns">
            <div class="column is-2 is-offset-1">
                <input v-model='user.mailing_address_city' type="text" name="city" id="city">
            </div>
        </div>

        <div class="columns">
            <div class="column is-2 is-offset-1">
                <input v-model='user.mailing_address_state' type="text" name="state" id="state">
            </div>
        </div>

        <div class="columns">
            <div class="column is-2 is-offset-1">
                <input v-model='user.mailing_address_zip' type="text" name="zip" id="zip">
            </div>
        </div>

        <div class="columns">
            <div class="column is-1">
                <label for="email">Email</label>
            </div>
            <div class="column is-2 is-1">
                <input v-model='user.email' type="email" name="email" id="email">
            </div>
        </div>

        <div class="columns">
            <div class="column is-1">
                <label for="phone">Phone</label>
            </div>
            <div class="column is-2">
                <input v-model='user.phone' type="phone" name="phone" id="phone">
            </div>
        </div>

    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            user: ""
        }
    },

    mounted(){
        // const token = localStorage.getItem('token');
        // const header = 'Bearer ' + token;
        axios.get('/api/user/' + this.$route.params.id)
            // {
            //     headers: {
            //         'Authorization' : header
            //     }
        // })
            .then(response => {
                this.user = response.data.User;
            })
            .catch(error => {
                console.log(error);
            })
    },
}
</script>

<style lang="scss" scoped>
.edituserinfo {
    margin-left: 20px;
    margin-top: 30px;
}
</style>
