<template>
    <div class="admin-menu">
        <div class="hero is-fullheight">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-2 menu">
                    <div class="tile is-parent">
                        <div class="tile is-child">

                            <div class="columns">
                                <div class="column">
                                    Admin Menu
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column menu-item">
                                    <router-link :to="{name: 'admindashboard'}">
                                        <icon name='user-plus'></icon>
                                        <a>Admin Home</a>
                                    </router-link>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column menu-item">
                                    <router-link :to="{name: 'createmessage'}">
                                        <icon name='envelope'></icon>
                                        <a>Send Message</a>
                                    </router-link>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column menu-item">
                                    <router-link :to="{name: 'createcategory'}">
                                        <icon name='edit'></icon>
                                        <a>Create Category</a>
                                    </router-link>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column menu-item">
                                    <router-link :to="{name: 'userlist'}">
                                        <icon name='users'></icon>
                                        <a>All Users</a>
                                    </router-link>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column menu-item">
                                    <router-link :to="{name: 'transactionslist'}">
                                        <icon name='globe'></icon>
                                        <a>All Transactions</a>
                                    </router-link>
                                </div>
                            </div>

                            <div class="columns">:
                                <div class="column menu-item">
                                    <router-link :to="{name: 'admindashboard'}">
                                        <icon name='globe' color='red'></icon>
                                        <a>Negative Balances</a>
                                    </router-link>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column menu-item">
                                    <router-link :to="{name: 'admindashboard'}">
                                        <icon name='globe' color='red'></icon>
                                        <a>Over Drafts</a>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Area -->
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <router-view></router-view>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            user: ""
        }
    },

    mounted () {
        const token = localStorage.getItem('token');
        const header = 'Bearer ' + token;
        axios.get('/api/user',
            {
                headers: {
                    'Authorization' : header
                }
        })
            .then(response => {
                this.user = response.data.user;
                if(!this.user.admin) {
                    this.$router.replace({name: 'signin'});
                }
            })
            .catch(error => {
                this.$router.replace({name: 'signin'});
                // console.log(error);
            })
    }
}
</script>

<style lang="scss" scoped>
@import './../../../sass/_mixins.scss';
@import './../../../sass/_variables.scss';

.admin-menu {
    @include full-height;
    @include menu;
}
</style>
