<template>
<div class="transactions">

    <div class="columns">
        <div class="column">
            <div class="level">
                <div class="level-left"></div>
                <div class="level-right">List Size
                    <div class="control">
                        <div class="select is-small">
                            <select v-model='list_size'>
                                <option value=10>10</option>
                                <option value=20>20</option>
                                <option value=50>50</option>
                                <option value=100>100</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="columns">
        <div class="column has-text-centered header" v-for='header in headers'>
            {{ header }}
        </div>
    </div>
    <hr>

    <div class="rows">
        <div v-for='transaction in transactions'>
            <div class="columns">

                <div class='column'>{{ transaction.created_at }}</div>
                <div class='column has-text-centered'>{{ transaction.id }}</div>
                <div class='column has-text-centered'>{{ transaction.type }}</div>
                <div class="column has-text-centered">
                    <router-link :to="{name: 'accountinfo', params:{id: transaction.account_id }}">
                        <a>
                            {{ transaction.account_id }}
                        </a>
                    </router-link>
                </div>
                <div class='column'>{{ transaction.source }}</div>
                <div class='column has-text-right'>
                    <formatCurrency :amount="transaction.amount"></formatCurrency>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="tile is-centered">
        <pager :record_count='Number(count)'
        :records_per_page='Number(list_size)'
        :max_page_links='0'>
        </pager>
    </div>

</div>
</template>

<script>
import pager from './../common/Pager';

export default {
    components: {
        formatCurrency,
        pager,
        EventBus
    },

    // mixins: [pagerProp],

    data() {
        return {
            count: '',
            transactions: [],
            headers: ['Date', 'Transaction ID', 'Type', 'Account', 'Source', 'Amount'],
            list_size: 10,
            new_first_record_id: '',
            current_first_record_id: '',
        }
    },

    watch: {
        list_size: function() {
            this.getRange(
                Number(this.current_first_record_id),
                Number(this.current_first_record_id) + Number(this.list_size) - 1);
        }
    },

    created () {
        EventBus.$on('previous', () => {
            this.getRange(this.current_first_record_id - this.list_size,
                          this.current_first_record_id -1);
        });
        EventBus.$on('next', () => {
            this.getRange(Number(this.current_first_record_id) + Number(this.list_size),
                          Number(this.current_first_record_id) + Number(2 * this.list_size -1));
        });
        EventBus.$on('page', (next_first_id) => {
            this.getRange(next_first_id, (next_first_id + (this.list_size -1)));
        });
    },

    mounted () {
        //initial load
        this.getRange(1, this.list_size);
    },

    methods: {

        getRange(begin, end) {
            const token = localStorage.getItem('token');
            const header = 'Bearer ' + token;
            axios.post('/api/admin/transactions/list', {
                    'begin': begin,
                    'end': end
                }, {
                    headers: {
                        'Authorization': header
                    }
                })
                .then(response => {
                    this.count = response.data.message.count;
                    this.current_first_record_id = response.data.message.transactions[0].id;
                    this.transactions = response.data.message.transactions;
                })
                .catch(error => {
                    this.$router.replace({
                        name: 'admindashboard'
                    });
                    // console.log(error);
                })
        }
    }
}
</script>

<style lang="scss" scoped>
.transactions {
    font-size: 0.95rem;
    margin: 20px;
    select {
        margin-left: 5px;
        margin-right: 10px;
    }
    .header {
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: -1em;
    }
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .rows {
        .columns {
            margin-bottom: -1.0em;
        }
    }
}
</style>
