<template>
    <div class="userlist">
        <div class="content">

            <div class="columns">
                <div class="column is-4 is-offset-4">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item control">
                                <a class="button" @click='ReturnUsers'>
                                    Message
                                </a>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item control">
                                <a class="button">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="level">
                        <div class="level-left"></div>
                        <div class="level-right">List Size
                            <div class="control">
                                <div class="select is-small">
                                    <select v-model='list_size'>
                                        <option value=10>10</option>
                                        <option value=20>20</option>
                                        <option value=50>50</option>
                                        <option value=100>100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column has-text-centered header" v-for='header in headers'>
                    {{ header }}
                </div>
            </div>

            <div class="rows">
                <div v-for='user in users'>
                    <div class="columns">
                        <div class="column is-narrow">
                            <a @click='UserSelect(user.id)'>
                                <icon :name='Selected(user.id)'></icon>
                            </a>
                        </div>
                        <div class='column'>
                            <router-link :to="{name: 'userinfo', params: {id: user.id}}">
                                <a>
                                    <span v-if='user.admin == "true"'>*</span>
                                    {{ user.first_name }} {{ user.last_name }}
                                </a>
                            </router-link>
                        </div>
                        <div class='column'>{{ user.email }}</div>
                        <div class='column has-text-centered'>{{ user.phone }}</div>
                        <div class='column has-text-centered'>{{ user.created_at }}</div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        <div class="tile is-centered">
            <pager :record_count='Number(count)'
            :records_per_page='Number(list_size)'
            :max_page_links='0'>
            </pager>
        </div>

    </div>
</template>

<script>
import pager from './../common/Pager';

export default {
    components: {
        pager,
        EventBus
    },

    props: {
        url: {
            type: String,
            required: true
        },
    },

    data () {
        return {
            count: '',
            users: [],
            headers: ['Name', 'Email', 'Phone', 'Active'],
            selected_users_id: [],
            list_size: 10,
            new_first_record_id: '',
            current_first_record_id: '',
        }
    },

    watch: {
        list_size: function() {
            this.getRange(
                Number(this.current_first_record_id),
                Number(this.current_first_record_id) + Number(this.list_size) - 1);
        }
    },

    created () {
        EventBus.$on('previous', () => {
            this.getRange(this.current_first_record_id - this.list_size,
                          this.current_first_record_id -1);
        });
        EventBus.$on('next', () => {
            this.getRange(Number(this.current_first_record_id) + Number(this.list_size),
                          Number(this.current_first_record_id) + Number(2 * this.list_size -1));
        });
        EventBus.$on('page', (next_first_id) => {
            this.getRange(next_first_id, (next_first_id + (this.list_size -1)));
        });
    },

    mounted () {
        //initial load
        this.getRange(1, this.list_size);
    },

    methods: {
        getRange(begin, end) {
            const token = localStorage.getItem('token');
            const header = 'Bearer ' + token;
            axios.post('/api/admin/users/list', {
                    'begin': begin,
                    'end': end
                }, {
                    headers: {
                        'Authorization': header
                    }
                })
                .then(response => {
                    this.count = response.data.message.count;
                    this.current_first_record_id = response.data.message.users[0].id;
                    this.users = response.data.message.users;
                })
                .catch(error => {
                    this.$router.replace({
                        name: 'admindashboard'
                    });
                })
        },

        ReturnUsers () {
            //store user list
            localStorage.setItem('userlist', JSON.stringify(this.selected_users_id));
            this.$router.push({name: this.url})
        },

        UserSelect (user_id) {
            let index = this.selected_users_id.indexOf(user_id);
            if(index >= 0) {
                this.selected_users_id.splice(index, 1);
            }
            else {
                this.selected_users_id.push(user_id);
            }
            return;
        },

        Selected (user_id) {
            // let index = this.userFind(user_id);
            if(this.selected_users_id.indexOf(user_id) >= 0) {
                return 'plus-square';
            }
            return 'minus-square-o';
        },
    },

    // mounted () {
    //     const list = localStorage.getItem('userlist');
    //     if(list) {
    //         this.selected_users_id = JSON.parse(list);
    //     }
    //
    //
    //     const token = localStorage.getItem('token');
    //     const header = 'Bearer ' + token;
    //     axios.get('/api/admin/userlist',
    //         {
    //             headers: {
    //                 'Authorization' : header
    //             }
    //         })
    //         .then(response => {
    //             this.users = response.data.userlist;
    //         })
    //         .catch(error => {
    //             console.log(error);
    //         })
    //}
}
</script>

<style lang="scss" scoped>
.userlist {
    margin-top: 20px;

    .header {
        font-size: 1.3em;
        font-weight: 700;
        margin-bottom: .2em;
        border-top: black solid 1px;
        border-bottom: black solid 1px;
    }
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .rows {
        .columns {
            margin-bottom: -1.0em;
        }
    }
}
</style>
