<template>
<div class="userinfo">
    <div class="columns">

        <div class="column is-5">
            <div class="card">
                <div class="card-content">
                    <div class="columns">
                        <div class="column is-one-third">
                            First Name
                        </div>
                        <div class="column">
                            {{ user.first_name }}
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-one-third">
                            Last Name
                        </div>
                        <div class="column">
                            {{ user.last_name }}
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-one-third">
                            Address
                        </div>
                        <div class="column">
                            {{ user.mailing_address_street }}
                        </div>
                    </div>


                    <div class="columns">
                        <div class="column is-offset-one-third">
                            {{ user.mailing_address_city }}
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-offset-one-third">
                            {{ user.mailing_address_state }}
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-offset-one-third">
                            {{ user.mailing_address_zip }}
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-one-third">
                            Email
                        </div>
                        <div class="column">
                            {{ user.email }}
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-one-third">
                            Phone
                        </div>
                        <div class="column">
                            {{ user.phone }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-5">
            <div class="card">
                <div class="card-content">

                    <div class="columns">
                        <div class="column">
                            <p>Accounts</p>
                        </div>
                    </div>


                    <div class="columns">
                        <div class="column">

                            <div class="columns">
                                <div class="column is-3 header" v-for='header in accountheaders'>
                                    {{ header }}
                                </div>
                            </div>
                            <hr>

                            <div class="columns">
                                <div class="column">
                                    <div class="" v-for='account in accounts'>
                                        <div class="columns">
                                            <div class="column is-3">
                                                <p>{{ account.id }}</p>
                                            </div>
                                            <div class="column is-3">
                                                <p>{{ account.status }}</p>
                                            </div>
                                            <div class="column is-3">
                                                <p>{{ account.type }}</p>
                                            </div>
                                            <div class="column is-3 has-text-right">
                                                <p>
                                                    <formatCurrency :amount="account.balance"></formatCurrency>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    components: {
        formatCurrency
    },

    data() {
        return {
            user: "",
            accounts: [],
            accountheaders: [
                'ID',
                'Status',
                'Type',
                'Balance'
            ]
        }
    },

    mounted(){
        const token = localStorage.getItem('token');
        const header = 'Bearer ' + token;
        axios.get('/api/user/' + this.$route.params.id + '/info',
        {
            headers: {
                'Authorization' : header
            }
        })
            .then(response => {
                this.user = response.data.User;
                this.accounts = response.data.User.accounts
            })
            .catch(error => {
                console.log(error);
            })
    },
}
</script>

<style lang="scss" scoped>
.userinfo {
    font-size: .95rem;
    .card {
        margin-top: 10px;
    }
    .columns {
        margin-bottom: 0;
    }
    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
</style>
