
@mixin full-height {
    height: 100%;
}

@mixin menu-item {
    .menu-item {
        margin: 0 0 0 10px;
        padding-bottom: 0;
    }
}

@mixin menu {
    .is-ancestor {
        @include full-height;
    }

    .menu {
        @include menu-item;


        background-color: $menu-background-color;
        color: white;
        margin-left: 10px;
        margin-top: 10px;
        a {
            color: white;
        }
        .fa-icon {
            margin-right: 8px;
        }
    }
}
