// Bulma
@import 'node_modules/bulma/bulma.sass';

@import 'variables';
@import 'mixins';


html, body, #app {
    @include full-height;
}

.navbar {
    background-color: $navbar-background-color;

}

input {
    width: 100%;
}

input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    // appearance: none;
}
