

    <div class="about">
        <div class="columns">
            <div class="column is-5 is-offset-1">
                <div class="content is-medium">
                    <p><strong>KBank</strong> can supply all your personal banking needs</p>
                    <p>
                        We supply all the common financial services. Savings, checking, and Debit card
                        accounts. We allow the users to transfer funds from one accout to their other
                        accounts. You can write checks, pay bills, and keep an eye on your money.
                    </p>
                </div>
            </div>
            <div class="column is-5">
                <div class="content is-small">
                    <figure class="image">
                      <img src="images/piggybank.jpg">
                    </figure>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-5 is-offset-1">
                <div class="content is-medium">
                    <p><strong>KBank</strong> is built for those just learning about financial management</p>
                    <p>
                        By leveraging simplicity over the multitudes of complex services
                        that most users never use, we give the user a highly intuitive yet fully
                        useable application for managing their finances.
                    </p>
                </div>
            </div>
            <div class="column is-5">
                <div class="content is-small">
                    <figure class="image">
                      <img src="images/bank-account-manager.png">
                    </figure>
                </div>
            </div>
        </div>
    </div>
