<template>
    <linechart :chart-data='linechartdata'></linechart>
</template>

<script>
import linechart from './../../LineChart';

export default {
    components: {
        linechart
    },

    props: {
        account: {
            type: Object,
            required: true
        },

        chartlabel: {
            type: String,
            required: false,
            default: 'Account'
        },

        chartbackground: {
            type: String,
            required: false,
            default: '#f87979'
        },
    },

    data: () => ({
        linechartdata: {
            labels: [],
            datasets: [
                {
                    label: '',
                    backgroundColor: '',
                    data: [],
                    lineTension: 0,
                },
            ]
        }
    }),

    created () {
        for (let key in this.account.history) {
            if (this.account.history.hasOwnProperty(key)) {
                this.linechartdata.labels.push(key);
                this.linechartdata.datasets[0].data.push(this.account.history[key]);
            }
        }
        this.linechartdata.datasets[0].label = this.chartlabel;
        this.linechartdata.datasets[0].backgroundColor = this.chartbackground;
        this.linechartdata.labels.reverse();
        this.linechartdata.datasets[0].data.reverse();
    },
}
</script>

<style lang="scss" scoped>
</style>
