<template>
    <doughnutchart
        :chart-data='doughnutchartdata'
        :showLegend='showLegend'>

    </doughnutchart>
</template>

<script>
import doughnutchart from './../../DoughnutChart';

export default {
    components: {
        doughnutchart
    },

    props: {
        chartdata: {
            type: [Array, Object],
            required: true
        },

        chartlabel: {
            type: String,
            required: false,
            default: 'Account'
        },

        showLegend: {
            type: String,
            required: false,
            default: 'true'
        },

        chartbackground: {
            type: [Array, Object],
            required: false,
            default: () => (['coral', 'cyan', 'goldenrod', 'crimson', 'orange',
                             'blue', 'lightsalmon', 'darkseagreen', 'sandybrown',
                             'greenyellow', 'Purple', 'deepskyblue',
                             'magenta', 'wheat', 'salmon', 'darkred', 'lightorange',
                             'cornsilk', 'blueviolet', 'orangered', 'cornflower']),
        },
    },

    data: () => ({
        doughnutchartdata: {
            labels: [],
            datasets: [
                {
                    label: '',
                    backgroundColor: '',
                    data: [],
                },
            ]
        }
    }),

    created () {
        for (let key in this.chartdata) {
            if (this.chartdata.hasOwnProperty(key)) {
                this.doughnutchartdata.labels.push(key);
                this.doughnutchartdata.datasets[0].data.push(this.chartdata[key]);
            }
        }
        this.doughnutchartdata.datasets[0].label = this.chartlabel;
        this.doughnutchartdata.datasets[0].backgroundColor = this.chartbackground;
    },
}
</script>

<style lang="scss" scoped>
</style>
