<template>
    <div class="createcategory">
        <div class="columns">
            <div class="column is-6 is-offset-1">

                <div class="control">
                    <p>
                        <label for="parent">Category Group</label>
                    </p>
                    <p>
                        <span class='select'>
                            <select v-model='selected_group'>
                                <option value='' disabled>Select</option>
                                <option value="0">None (Top Level)</option>
                                <option v-for='group in groups' :value='group.id'>
                                    {{ group.name }}
                                </option>
                            </select>
                        </span>
                    </p>
                </div>

                <div class="control">
                    <p>
                        <label for="name">Category Name</label>
                    </p>
                </div>
                <p class="control has-icons-right">
                    <input type="input"
                    class='input'
                    @input='CheckName'
                    v-model='name'>
                    <span v-show='name_exists' class='icon is-right'>
                        <icon name='lock' color='red'></icon>
                    </span>
                    <span class='error' v-show='name_exists'>Category Already Exist</span>
                </p>


                <div class="control">
                    <p>
                        <label for="comments">Comments</label>
                    </p>
                    <p>
                        <textarea class='textarea is-normal'
                                  type="textarea"
                                  name="comment"
                                  v-model='comments'
                                  id="comment">
                        </textarea>
                    </p>
                </div>

                <div class="control">
                    <div class="columns">
                        <div class="columm">
                            <div class="level is-mobile">
                                <div class="level-item">
                                    <p>Include in Tax Report</p>
                                    <input type="checkbox" v-model='tax_report'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="level">
                    <div class="level-item">
                        <div class='control'>
                            <a class='button is-primary'
                            @click='Submit'
                            value=''
                            :disabled='!Completed()'>
                            Submit
                            </a>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            groups: [],
            selected_group: '',
            name: '',
            comments: '',
            tax_report: false,
            name_exists: false,
        }
    },

    mounted () {
        const token = localStorage.getItem('token');
        const header = 'Bearer ' + token;
        axios.get('/api/user/category/list',
        {
            headers: {
                'Authorization' : header
            }
        })
        .then(response => {
            this.groups = response.data.categories;
            // console.log(response);
        })
        .catch(error => {
            console.log(error);
        })
    },

    methods: {
        Completed () {
            if (this.selected_group == '' || this.name == '' || this.name_exists == true) {
                return false;
            }
            return true;
        },

        CheckName () {//Might have to put all names into array on mount and iterate that instead
            for(let i = 0; i < this.groups.length; i++) {
                if(this.groups[i].name == this.name) {
                    this.name_exists = true;
                    return;
                }
                for(let t = 0; t < this.groups[i].transactioncategories.length; t++) {
                    if(this.groups[i].transactioncategories[t].name == this.name) {
                        this.name_exists = true;
                        return;
                    }
                }
            }
            this.name_exists = false;
            return;
        },

        Submit () {
            const token = localStorage.getItem('token');
            const header = 'Bearer ' + token;
            axios.post('/api/user/category/create',
            {
                'group' : this.selected_group,
                'name' : this.name,
                'comments' : this.comments,
                'tax_report' : this.tax_report == true ? 'true' : 'false'
            },
            {
                headers: {
                    'Authorization' : header
                }
            })
            .then(response => {
                // console.log(response);
                this.$router.go(-1);
            })
            .catch(error => {
                console.log(error);
            })
        } ,
    },
}
</script>

<style lang="scss" scoped>
.createcategory {
    margin-right: 10px;
    margin-left: 10px;
    .level {
        margin-bottom: 30px;
    }
    .level-item {
        input {
            width: 30px;
        }
    }
    input {
        .icon{
            margin-top: -15px;
        }
    }
    textarea {
        margin-bottom: 30px;
    }
    .columns {
        margin-left: 0;
        margin-right: 0;
    }
    .column {
        padding-left: 0;
        padding-right: 0;
    }
    .control {
        margin-top: 5px;
    }
    .checkbox {
        margin-top: -10px;
    }
    .error {
        color: red;
    }
    .level {
        width: 100%;
    }
}
</style>
