<template>
    <div>
        <accountDoughnutChart
            :chartdata='account.expendintures'
            :showLegend='ShowLegend'
            chartlabel='Expendinture Allocation'>
        </accountDoughnutChart>
    </div>
</template>

<script>
import accountDoughnutChart from './../common/AccountDoughnutChart';

export default {
    components: {
        accountDoughnutChart
    },

    props: {
        account: {
            type: Object,
            required: true
        },
    },

    computed: {
        ShowLegend () {
            if(screen.width > 424) {
                return 'true';
            }
            else {
                return 'false';
            }
        },
    },

    mounted () {
    },
}
</script>

<style lang="scss" scoped>
</style>
