<template>
    <div>
        <accountDoughnutChart
            :chartdata='account.incomes'
            chartlabel='Income Allocation'>
        </accountDoughnutChart>
    </div>
</template>

<script>
import accountDoughnutChart from './../common/AccountDoughnutChart';

export default {
    components: {
        accountDoughnutChart
    },

    props: {
        account: {
            type: Object,
            required: true
        },
    },

    mounted () {
    },
}
</script>

<style lang="scss" scoped>
</style>
