<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="images/kBrand.png" alt="KBank" height="28">KBank
            </a>

            <button :class='hamburger_state' @click='MenuToggle'>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="navbar-start is-hidden-touch">
            <div class="navbar-item">
                Navbar Start
            </div>
        </div>
        <div class="navbar-end is-hidden-touch">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    My Kbank
                </a>
                <div class="navbar-dropdown">
                    <router-link :to="{name: 'profile'}">
                        <a class="navbar-item">
                            Profile
                        </a>
                    </router-link>
                    <router-link :to="{name: 'signin'}">
                        <a class="navbar-item">
                            Login
                        </a>
                    </router-link>
                    <router-link :to="{name: 'signout'}">
                        <a class="navbar-item">
                            Logout
                        </a>
                    </router-link>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
import { EventBus } from './../../bootstrap';

export default {
    components: {
        EventBus
    },

    data () {
        return {
            hamburger_toggle: false,
            hamburger_state: 'button navbar-burger is-hidden-tablet'
        }
    },

    created () {
        EventBus.$on('menureset', () => {
            this.hamburger_toggle = false;
            this.hamburger_state = 'button navbar-burger is-hidden-tablet';
        });

         EventBus.$on('mobilenav', () => {
             this.hamburger_state = 'button navbar-burger is-hidden-tablet';
         });
    },

    methods: {
        MenuToggle () {
            EventBus.$emit('mobilenav');
            this.hamburger_toggle = !this.hamburger_toggle;
            this.hamburger_state = 'button navbar-burger is-hidden-tablet';
            if(this.hamburger_toggle) {
                this.hamburger_state += ' is-active';
            }
        }
    }
}
</script>

<style lang="scss">
</style>
