<template>
    <div class="newuser">
        <div class="columns">
            <div class="column is-3">
                <div class="content is-medium">
                    <p>Sign Up</p>
                </div>
            </div>
        </div>


        <div class="columns">
            <div class="column field is-3">
                <div class="control">
                    <label for="name">User Name</label>
                    <p>
                        <input class='input' type="text" name="name" v-model='name' disabled>
                    </p>
                </div>
                <div class="control">
                    <label for="email">Email</label>
                    <p>
                        <input class='input' type="text" name="email" v-model='email' disabled>
                    </p>
                </div>
            </div>
            <div class="column field is-3">
                <div class="control">
                    <label for="first_name">First Name</label>
                    <p>
                        <input class='input' type="text" name="first_name" v-model='first_name'>
                    </p>
                </div>
                <div class="control">
                    <label for="last_name">Last Name</label>
                    <p>
                        <input class='input' type="text" name="first_name" v-model='last_name'>
                    </p>
                </div>
            </div>
            <div class="column field is-3">
                <div class="control">
                    <label for="mailing_address_street">Street</label>
                    <p>
                        <input class='input' type="text" name="street" v-model='mailing_address_street'>
                    </p>
                </div>
                <div class="control">
                    <label for="mailing_address_city">City</label>
                    <p>
                        <input class='input' type="text" name="city" v-model='mailing_address_city'>
                    </p>
                </div>
                <div class="control">
                    <label for="mailing_address_state">State</label>
                    <p>
                        <input class='input' type="text" name="state" v-model='mailing_address_state'>
                    </p>
                </div>
                <div class="control">
                    <label for="mailing_address_zip">Zip</label>
                    <p>
                        <input class='input' type="text" name="zip" v-model='mailing_address_zip'>
                    </p>
                </div>
                <div class="control">
                    <label for="phone">Phone</label>
                    <p>
                        <input class='input' type="text" name="phone" v-model='phone'>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="level">
                <div class="level-item">
                    <div class="control">
                        <a class='button is-primary' v-on:click="onSubmit">Create</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    data() {
        return {
            name: '',
            first_name: '',
            last_name: '',
            email: '',
            password: '',
            phone: '',
            mailing_address_street: '',
            mailing_address_city: '',
            mailing_address_state: '',
            mailing_address_zip: ''
        }
    },

    mounted() {
        this.name = localStorage.getItem('username');
        this.email = localStorage.getItem('email');
        this.password = localStorage.getItem('password');
    },

    methods: {
        onSubmit() {
            axios.post('/api/user/create', this.$data)
                .then(response => {
                    localStorage.setItem('token', response.data.message.token);
                    this.$router.push({name: 'createaccount'})
                })
                .catch(error => {
                    console.log(error.response);
                })
        },
    }
}
</script>

<style lang="scss" scoped>
.newuser {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;

    input {
        margin-bottom: 10px;
    }
    .level {
        width: 100%;
    }
}
</style>
