<template>
<div v-if='link_count > 1'>

    <nav class="pagination is-centered is-small" role="navigation" aria-label="pagination">
        <a class="pagination-previous"
           @click='Previous()'>
            Previous
        </a>
        <a class="pagination-next"
           @click='Next()'>
            Next page
        </a>
        <ul id='pagelist' class="pagination-list" v-for="n in link_count">
            <li>
                <!-- unique, key, index, *refs* -->
                <a :class='(n == 1) ? "pagination-link is-current" : "pagination-link" '
                :id='n'
                aria-label="Goto page"
                @click='Page(n, $event)'
                :ref="'Page' + n">
                {{ n }}
                </a>
            </li>
        </ul>
    </nav>

</div>
</template>

<script>
export default {
    components: {
      EventBus
    },

    props: {
        record_count: {
            type: Number,
            default: 0
        },
        records_per_page: {
            type: Number,
            default: 0
        },
        max_page_links: {
            type: Number,
            default: 0
        },

    },

    computed: {
        link_count () {
            return parseInt((this.record_count / this.records_per_page) +.999);
        }
    },

    data: () => ({
        current_page: 1
    }),

    methods: {
        Previous () {
            if(this.current_page > 1) {
                EventBus.$emit('previous');
                if(this.current_page > 0) {
                    this.TogglePage();
                }
                this.current_page -= 1;
                this.TogglePage();
            }
        },
        Next () {
            if(this.current_page < this.link_count) {
                EventBus.$emit('next');
                if(this.current_page > 0) {
                    this.TogglePage();
                }
                this.current_page += 1;
                this.TogglePage();
            }
        },
        Page (page, event) {
            if(this.current_page != page) {
                let next_first_id = (page -1) * this.records_per_page + 1;
                EventBus.$emit('page', next_first_id);
                this.TogglePage();
                this.current_page = page;
                this.TogglePage();
                console.log('Element ' + this.$el);
            }
        },
        TogglePage () {
            this.$refs['Page' + this.current_page][0]
                .classList.toggle('is-current');
        },
    },
}
</script>
<style lang="scss" scoped>
</style>
