<template>
</template>

<script>
export default {
    mounted() {
        console.log('Signout mounted');
        localStorage.removeItem('token');
        localStorage.removeItem('email');
        localStorage.removeItem('username');
        this.$router.push({name: 'signin'});
        // console.log(localStorage);
    }
}
</script>

<style lang="css">
</style>
