<template>
    <div class="signin">
        <div class="tile is-ancestor">
            <div class="tile is-verticle">
                <div class="tile is-child existing-user">
                    <div class="columns">
                        <div class="column is-offset-2">
                            <div class="content is-medium">
                                <div class="control has-icons">
                                    <p>
                                        Sign In
                                        <span class='icon'>
                                            <icon name='sign-in'></icon>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            <label for="email">Email</label>
                            <p>
                                <span class="control">
                                    <input type="text"
                                    class='input'
                                    name="username"
                                    v-model='email'
                                    @click='showerrors = false'
                                    @keyup.enter="$event.target.nextElementSibling.focus()"
                                    placeholder='Email'>
                                </span>
                            </p>
                            <label for="password">Password</label>
                            <p>
                                <span class="control">
                                    <input type="password"
                                    class='input'
                                    name="password"
                                    v-model='password'
                                    @click='showerrors = false'
                                    @keyup.enter='onSubmit'
                                    placeholder='Password'>
                                </span>
                            </p>
                            <showErrors :activate='showerrors' :errors='errors'></showErrors>
                        </div>
                    </div>

                    <div class="columns is-mobile">
                        <div class="column">
                            <div class="level">
                                <div class="level-item">
                                    <div class="control">
                                        <a class='button is-primary'
                                        v-on:click="onSubmit">Submit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-child new-user">
                <div class="columns">
                    <div class="column">
                        <div class="level">
                            <div class="level-item">
                                <p>Register New User</p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <div class="level">
                                    <div class="level-item">
                                        <div class="control">
                                            <router-link :to="{ name: 'signup'}">
                                                <a class='button is-primary is-large'>Register</a>
                                            </router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import showErrors from './../helpers/showErrors';

export default {
    components: {
        showErrors,
        EventBus
    },
    data() {
        return {
            email: "",
            password: "",
            errors: [],
            showerrors: false
        }
    },

    created () {
        EventBus.$on('showerrors', (value) => {
            if (value === 'delete') {
                this.showerrors = false;
            }
        })
    },

    methods: {
        onSubmit() {
            axios.post('/api/signin', this.$data)
                .then(response => {
                    localStorage.setItem('token', response.data.message.token);
                    if(response.data.message.user.admin == 'true') {
                        this.$router.replace({name: 'admindashboard'})
                    }else {
                        this.$router.replace({name: 'dashboard'});
                    }
                })
                .catch(error => {
                    this.showerrors = true;
                    this.password = "";
                    this.errors = error.response.data;
                })
        },

        onKeyIn() {
            if (this.showerrors == true) {
                this.email = "";
            }
            return this.showerrors = false;
        }
    }
}
</script>

<style lang="scss" scoped>
.signin {
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    .columns {
        margin-left: 10px;
        margin-right: 10px;
    }
    .column {
        padding-left: 0;
        padding-right: 0;
    }
    .new-user {
        padding-top: 50px;
    }
    input {
        margin-bottom: 10px;
    }
    @media screen and (min-width: 769px) {
        .existing-user {
            border-right-style: solid;
            border-right-color: darkgrey;
        }
    }
}
</style>
