<template>
    <div class="signup">
        <div class="columns">
            <div class="column is-offset-4">

                <div class="columns">
                    <div class="column is-4">
                        <div class="content is-medium">
                            <p>Sign Up</p>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column field is-4">
                        <div class="control">
                            <label for="name">User Name</label>
                            <p>
                                <input class='input'
                                type="text" name="name"
                                placeholder='User Name'
                                v-model='name'
                                @input='showerrors = false'>
                            </p>
                        </div>
                        <div class="control">
                            <label for="email">Email</label>
                            <p>
                                <input class='input'
                                type="text" name="email"
                                placeholder='Email'
                                v-model='email'
                                @input='showerrors = false'>
                            </p>
                        </div>

                        <confirmPassword
                            v-on:confirmedPassword='
                                password = $event.password,
                                matched = $event.matched'>
                        </confirmPassword>

                        <div class="columns">
                            <div class="column">
                                <showErrors :activate='showerrors' :errors='errors'></showErrors>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="columns">
                    <div class="level">
                        <div class="level-item">
                            <div class="control">
                                <a class='button is-primary'
                                id='createuser'
                                type="button"
                                v-on:click="onSubmit()"
                                :disabled='validate()'>
                                Create
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import confirmPassword from './../helpers/confirmPassword';
import showErrors from './../helpers/showErrors';

export default {
    components: {
        confirmPassword,
        showErrors
    },

    data() {
        return {
            name: '',
            email: '',
            password: '',
            errors: [],
            showerrors: false,
            matched: false
        }
    },

    methods: {
        onSubmit() {
            axios.post('/api/signup', this.$data)
            .then(response => {
                localStorage.setItem('username', this.name);
                localStorage.setItem('email', this.email);
                localStorage.setItem('password', this.password);
                console.log('Name: ' + this.name + ' Password: ' + this.password);
                this.$router.push({name: 'createuser'});
            })
            .catch(error => {
                this.errors = error.response.data;
                this.showerrors = true;
                //TODO
                //send message to confirmPassword to clear
            })
        },

        validate () {
            if(this.name != "" && this.email != "" && this.matched) {
                return false;
            }
            else {
                return true;
            }
        },
    }
}
</script>

<style lang="scss" scoped>
.signup {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;

    input {
        margin-bottom: 10px;
    }
    .level {
        width: 100%;
    }
}
</style>
