<template>
    <div class="account">
        <!-- Desktop via Table-->
        <article class='table is-hidden-mobile'>
            <div class="columns">
                <div class='column control has-text-centered'>
                    <router-link :to="{name: 'accountdetails', params: {id: account.id}}">
                        <a>
                            {{ account.id }}
                        </a>
                    </router-link>
                </div>
                <div class='column'>{{ account.name }}</div>
                <div class='column'>{{ account.type }}</div>
                <div class='column'>
                    <formatCurrency :amount="account.balance"></formatCurrency>
                </div>
                <div class='column'>{{ account.status }}</div>
                <div class='column'>
                    {{ monthString(account.updated_at) }}
                    {{ dayNumber(account.updated_at) }},
                    {{ yearNumber(account.updated_at) }} :
                    {{ timeNumber(account.updated_at) }}
                </div>
            </div>
        </article>
        <!-- Mobile via Card-->
        <div class="card is-hidden-tablet">
            <header class='card-header'>
            </header>
            <div class="card-image">
                <accountLineChart
                    :account='account'
                    chartlabel='Monthly Ending Balance'
                    chartbackground='#f87979'>
                </accountLineChart>
            </div>
            <div class="card-content">
                <p>Type: {{ account.type }}</p>
                <p>Balance: <formatCurrency :amount="account.balance"></formatCurrency></p>
                <p>Status: {{ account.status }}</p>
                <p>Last Update:
                    {{ monthString(account.updated_at) }}
                    {{ dayNumber(account.updated_at) }},
                    {{ yearNumber(account.updated_at) }}
                 </p>
            </div>
        </div>
    </div>
</template>

<script>
import dateFormat from './../../mixins/DateFormat.js';
import accountLineChart from './../common/AccountLineChart';

export default {
    components: {
        formatCurrency,
        accountLineChart
    },

    mixins: [
        dateFormat
    ],

    props: {
        account: {
            type: Object,
            required: true
        }
    },
}
</script>

<style lang="scss" scoped>
.account {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    .card-image {
        div {
            background: beige;
        }
    }

    .account-header:first-letter {
        text-transform: capitalize;
    }
}
</style>
