<template>
    <div class="accounts">
        <div class="columns">
            <div class="column is-8 is-offset-2 is-hidden-mobile">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            {{ user.first_name }} {{ user.last_name }}
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            {{ user.email }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-10">
                <p>Accounts</p>
            </div>
        </div>
        <div class='is-hidden-mobile'>
            <div class="columns header">
                <div class='column' v-for='header in headers'>
                    {{ header }}
                </div>
            </div>
            <hr>
        </div>
        <div v-for='account in accounts'>
            <account :account='account'></account>
            <hr class='is-hidden-mobile'>
        </div>


        <div class="columns">
            <div class="level">
                <div class="level-item">
                    <div class="control">
                        <router-link :to="{ name: 'createaccount' }">
                            <a class="button is-primary">Create Account</a>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import account from './Account';

export default {
    components: {
        'formatCurrency': formatCurrency,
        account

    },
    data() {
        return {
            user: "",
            accounts: [],
            headers: [
                'Account Number',
                'Name',
                'Type',
                'Balance',
                'Status',
                'Last Update'
            ]
        }
    },

    mounted () {
        const token = localStorage.getItem('token');
        const header = 'Bearer ' + token;
        console.log(header);
        axios.get('/api/user/accounts',
            {
                headers: {
                    'Authorization' : header
                }
        })
            .then(response => {
                this.user = response.data.user;
                this.accounts = response.data.accounts;
                // console.log(response);
            })
            .catch(error => {
                console.log(error);
            })
    }
}
</script>

<style lang="scss" scoped>
.accounts {
    margin-left: 10px;
    margin-right: 10px;
    .level {
        .level-left {
            padding-left: 10px;
        }
    }
    .header {
        margin-bottom: -20px;
        div {
            font-weight: bold;
        }
    }
    .account {
        margin-bottom: 10px;
    }
    .button {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .level {
        width: 100%;
    }
}
</style>
