<template>
    <div class="account">
        <div class="columns">
            <div class="column is-6 is-size-4">
                <p>{{ account.name }}</p>
                <p>Account ID {{ account.id }}</p>
            </div>
        </div>

        <div class="columns">
            <div class="column is-size-4 has-text-centered">
                <p>Transactions</p>
            </div>
        </div>

        <div class="columns headers is-hidden-mobile">
            <div class='column'>Date</div>
            <div class='column'>Type</div>
            <div class='column has-text-centered'>Amount</div>
            <div class='column'>Source</div>
            <div class='column'>Account Balance</div>
        </div>
        <hr class='is-hidden-mobile'>

        <div v-for='transaction in transactions'>
            <transaction :transaction='transaction' :account='account'></transaction>
            <hr class='is-hidden-mobile'>
        </div>


    </div>
</template>

<script>
import transaction from './Transaction';

export default {
    components: {
        formatCurrency,
        transaction
    },
    data() {
        return {
            account: "",
            transactions: []
        }
    },

    mounted(){
        const account_id = this.$route.params.id;
        const token = localStorage.getItem('token');
        const header = 'Bearer ' + token;
        axios.get('/api/user/account/' + account_id,
            {
                headers: {
                    'Authorization' : header
                }
        })
            .then(response => {
                console.log(response);
                this.account = response.data.account;
                this.transactions = response.data.account.transactions;
            })
            .catch(error => {
                console.log(error);
            })

    },
}
</script>

<style lang="scss" scoped>
.account {
    font-size: .95rem;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    .headers {
        font-size: 1.1rem;
        margin-bottom: 0;
    }
    .columns {
        .column {
            padding-bottom: 4px;
            padding-top: 4px;
        }
    }
    hr {
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .transaction {
        margin-bottom: 10px;
        .card {
        }
    }
}
</style>
