<template>
    <div class="userinfo">
        <div class="column is-offset-1">

            <div class="field">
                <!-- Row 1 -->
                <div class="columns">
                    <div class="column is-1">
                        <label for="name">Name</label>
                    </div>
                    <div class="column is-3">
                        <div class="control">
                            <input v-model='user.first_name'
                                   type="text"
                                   class='input'>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="control">
                            <input v-model='user.last_name'
                                   type="text"
                                   class='input'
                                   name="last_name"
                                   id="last_name">
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-7 has-text-centered">
                        <p>Address</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-1">
                        <label for="street">Street</label>
                    </div>
                    <div class="column is-6">
                        <div class="control">
                            <input v-model='user.mailing_address_street'
                                   type="text"
                                   class='input'
                                   name="street"
                                   id="street">
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-1">
                        <label for="city">City</label>
                    </div>
                    <div class="column is-6">
                        <div class="control">
                            <input v-model='user.mailing_address_city'
                                   type="text"
                                   class='input'
                                   name="city"
                                   id="city">
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-1">
                        <label for="state">State</label>
                    </div>
                    <div class="column is-6">
                        <div class="control">
                            <input v-model='user.mailing_address_state'
                                   type="text"
                                   class='input'
                                   name="state"
                                   id="state">
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-1">
                        <label for="zip">Zip</label>
                    </div>
                    <div class="column is-6">
                        <div class="control">
                            <input v-model='user.mailing_address_zip'
                                   type="text"
                                   class='input'
                                   name="zip"
                                   id="zip">
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-1">
                        <label for="email">Email</label>
                    </div>
                    <div class="column is-6">
                        <div class="control">
                            <input v-model='user.email'
                            type="text"
                            class='input'
                            name="email"
                            id="email">
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-1">
                        <label for="phone">Phone</label>
                    </div>
                    <div class="column is-6">
                        <div class="control">
                            <input v-model='user.phone'
                                   type="text"
                                   class='input'
                                   name="phone"
                                   id="phone">
                        </div>
                    </div>
                </div>

                <div class="column is-7">
                    <div class="columns">
                        <div class="level">
                            <div class="level-item">
                                <div class="control">
                                    <a class='button is-primary' v-on:click='Submit'>
                                        Submit
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            user: ""
        }
    },

    methods: {
        Submit() {
            const token = localStorage.getItem('token');
            const header = 'Bearer ' + token;
            console.log(this.user);
            axios.post('/api/user/changeinfo', this.user,
                {
                    headers: {
                        'Authorization' : header
                    }
            })
                .then(response => {
                    this.$router.push({name: 'profile'});
                })
                .catch(error => {
                    console.log(error);
                })
        }
    },

    mounted(){
        const token = localStorage.getItem('token');
        const header = 'Bearer ' + token;
        axios.get('/api/user',
            {
                headers: {
                    'Authorization' : header
                }
        })
            .then(response => {
                this.user = response.data.user;
            })
            .catch(error => {
                this.$router.push({name: 'signin'});
                // console.log(error);
            })
    },
}
</script>

<style lang="scss" scoped>
.userinfo {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    .columns {
        margin-left: 0;
        margin-right: 0;
    }
    .column {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 0;
        padding-right: 0;
    }
    .has-text-centered {
        margin-top: 20px;
        font-size: 1.5em;
        font-weight: bold;
    }
    .button {
        margin-top: 15px;
    }
    .level {
        width: 100%;
    }
    input {
        margin-left: 5px;
    }
}
</style>
