<template>
    <div class="changepassword">
        <div class="column is-4 is-offset-1 control">
            <div class='oldpassword'>
                <div class="columns">
                    <div class='column'>
                        <label for="old">Old Password</label>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <input  type="text" id='old_p'
                        class='input'
                        v-model='old_p'
                        name="old"
                        @input='showerrors = false'
                        placeholder='Old Password'>
                    </div>
                </div>
            </div>
            <div>
                <p>
                    <confirmPassword
                        label_confirm_password='Confirm Password'
                        placeholder_confirm_password='Confirm the Password'
                        icon_nonmatched_password='beer'
                        icon_nonmatched_password_color='orange'
                        v-on:confirmedPassword='
                            confirmedPassword = $event.password,
                            matched = $event.matched'>
                    </confirmPassword>
                </p>
            </div>

            <div class="columns" v-show='showerrors'>
                <div class="column is-4 is-offset-2">
                    <showErrors :activate='showerrors' :errors='errors'></showErrors>
                </div>
            </div>

            <div class="columns">
                <div class="level">
                    <div class="level-item">
                        <div class="control">
                            <a type="button"
                            class='button is-primary'
                            name="submit"
                            @click='onSubmit()'
                            v-bind:disabled="!matched">
                            Submit
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
import confirmPassword from './../helpers/confirmPassword';
import showErrors from './../helpers/showErrors';

export default {
    components: {
        confirmPassword,
        showErrors
    },
    data() {
        return {
            old_p: "",
            confirmedPassword: "",
            matched: false,
            errors: [],
            showerrors: false
        }
    },

    methods: {
        onSubmit() {
            const token = localStorage.getItem('token');
            const header = 'Bearer ' + token;
            axios.post('/api/user/changepassword', {
                "old" : this.old_p,
                "new" : this.confirmedPassword
            },
            {
                headers: {
                    'Authorization' : header
                }
            }
            )
                .then(response => {
                    this.$router.push({name: 'profile'})
                })
                .catch(error => {
                    this.showerrors = true;
                    this.errors = error.response.data;
                })
        },
    }
}
</script>

<style lang="scss" scoped>
.changepassword {
    margin-left: 10px;
    margin-right: 10px;
    .column {
        padding-left: 0;
        padding-right: 0;
    }
    .columns {
        margin-left: 0;
        margin-right: 0;
    }
    .oldpassword {
        .column {
            padding-bottom: 0;
        }
        .columns {
            margin-bottom: 0;
        }
        input {
            margin-bottom: 10px;
        }
    }
    .level {
        width: 100%;
    }
    .button {
        margin-top: 20px;
    }
}
</style>
