<template>
    <div class="accountcreate">
        <div class="columns">
            <div class="column">
                <p>Create a New Account</p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-2">
                <p>Type</p>
            </div>
            <div class="column is-2 control">
                <div class="select">
                    <select v-model='account_type' @onselect='showerrors = false'>
                        <option value="" disabled>Type</option>
                        <option v-for='type in types'>{{ type }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-2">
                <p>Account Name</p>
            </div>
                <div class="column is-2 control">
                    <p>
                        <input class='input' type="text" name="name" v-model='account_name'>
                    </p>
                </div>
        </div>

        <div class="columns">
            <div class="column is-2">
                <showErrors :activate='showerrors' :errors='errors'></showErrors>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="control">
                    <div class="level">
                        <div class="level-item">
                            <a class='button is-primary' v-on:click='CreateAccount'>Create</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>

<script>
import showErrors from './../helpers/showErrors';

export default {
    components: {
        showErrors
    },
    data() {
        return {
            errors: [],
            showerrors: false,
            account_type: '',
            account_name: '',
            types: [
                'savings',
                'checking'
            ]
        }
    },

    methods: {
        CreateAccount() {
            const token = localStorage.getItem('token');
            const header = 'Bearer ' + token;
            axios.post('/api/user/account/create', {
                "type" : this.account_type,
                'name' : this.account_name
                },
                {
                    headers: {
                        'Authorization' : header
                    }
            })
                .then(response => {
                    this.$router.push({name: 'useraccounts'});
                })
                .catch(error => {
                    this.errors = error.response.data;
                    this.showerrors = true;
                    // console.log(error);
                })
        }
    }
}
</script>

<style lang="scss" scoped>
.accountcreate {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    .select {
        width: 100%;
        select {
            width: 100%;
        }
    }
    .level {
        width: 100%;
    }
}
</style>
