<template>
    <div class="transaction">
        <div class="columns">
            <div class="column is-2">
                <p>Account</p>
            </div>
            <div class="column is-5 control">
                <span class="select">
                    <select v-model='account_selected'>
                        <option value="" disabled>Account</option>
                        <option v-for='account in accounts'
                                v-if="account.status === 'active'"
                                v-bind:value='account.id'>
                                Account: {{ account.id }} {{ account.name }}
                                (<formatCurrency :amount="account.balance"></formatCurrency>)
                        </option>
                    </select>
                </span>
            </div>
        </div>

        <div class="columns">
            <div class="column is-2">
                <p>Type</p>
            </div>
            <div class="column control is-3">
                <span class="select">
                    <select v-model='type'>
                        <option value="" disabled>Type</option>
                        <option v-for='type in types'>
                            {{ type }}
                        </option>
                    </select>
                </span>
            </div>
            <div class="column is-2">
                <input type="text"
                class='input'
                v-model='check_number'
                placeholder='Check Number'
                v-show='type == "check_withdraw"'>
            </div>
        </div>

        <div class="columns">
            <div class="column is-2">
                <p>Pay to</p>
            </div>
            <div class="column is-5">
                <input type="text"
                       class='input'
                       v-model='source'
                       id="transaction"
                       placeholder='Payee'>
            </div>
        </div>

        <div class="columns">
            <div class="column is-2">
                <p>Amount</p>
            </div>
            <div class="column is-5 control">
                <numberinput></numberinput>
            </div>
        </div>

        <div class="columns">
            <div class="column is-2">
                <p>Comment</p>
            </div>
            <div class="column is-5 control">
                <textarea class='textarea is-normal'
                          type="textarea"
                          name="comment"
                          v-model='comments'
                          id="comment">
                </textarea>
            </div>
        </div>


        <div class="columns">
            <div class="column is-2">
                <p>Category</p>
            </div>
            <div class="column is-5 control">
                <span class='select'>
                    <select v-model='category_selected'>
                        <option value='' disabled>Select</option>
                        <option value="0">None</option>
                        <optgroup v-for='group in groups' :label='group.name'>
                            <option class='transactioncategory'
                                    v-for='transactioncategory in group.transactioncategories'
                                    :value='transactioncategory.id'>
                                    <span :title='transactioncategory.comments'>
                                        {{ transactioncategory.name }}
                                    </span>
                            </option>
                        </optgroup>
                    </select>
                </span>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <showErrors :activate='showerrors' :errors='errors'></showErrors>
            </div>
        </div>

        <div class="columns">
            <div class="column is-5 is-offset-2">
                <div class="level">
                    <div class="level-item">
                        <div class="control">
                            <a class='button is-primary' v-on:click='Submit'>Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import showErrors from './../helpers/showErrors';
import numberinput from './../helpers/numberInput';

export default {
    components: {
        formatCurrency,
        showErrors,
        numberinput
    },

    data() {
        return {
            errors: [],
            showerrors: false,
            accounts: [],
            account_selected: '',
            type: '',
            check_number: '',
            amount: '',
            source: '',
            comments: '',
            groups: [],
            category_selected: '',
            types: [
                'deposit',
                'cash_withdraw',
                'check_withdraw',
                'transfer',
                'fine',
                'debit'
            ]
        }
    },

    created () {
        EventBus.$on('numberinput', (value) => {
            this.amount = value;
        });
    },

    mounted(){
        const token = localStorage.getItem('token');
        const header = 'Bearer ' + token;
        axios.get('/api/user/accounts',
            {
                headers: {
                    'Authorization' : header
                }
            })
            .then(response => {
                // this.acounts = response.data.user.accounts;
                this.accounts = response.data.accounts;
            })
            .catch(error => {
                // this.$router.push({name: 'userhome'});
                // console.log(error);
            })
            axios.get('/api/user/categories',
            {
                headers: {
                    'Authorization' : header
                }
            })
            .then(response => {
                this.groups = response.data.categories;
                // console.log(response);
            })
            .catch(error => {
                console.log(error);
            })
    },

    methods: {
        Submit() {
            const token = localStorage.getItem('token');
            const header = 'Bearer ' + token;
            axios.post('/api/user/transaction/create',
                {
                    "account_id" : this.account_selected,
                    "type" : this.type,
                    "check_number" : this.check_number,
                    "amount" : this.amount,
                    "source" : this.source,
                    "source_id" : this.source,
                    'comments' : this.comments,
                    'category_id' : this.category_selected
                },
                {
                    headers:
                    {
                        'Authorization' : header
                    }
                })
                .then(response => {
                    this.accounts = response.data.accounts;
                    this.$router.push({name: 'dashboard'});
                })
                .catch(error => {
                    this.errors = error.response.data;
                    this.showerrors = true;
                });
        }
    }
}
</script>

<style lang="scss" scoped>
.transaction {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    .columns {
        padding-top: 15px;
    }
    .column {
        padding-bottom: 2px;
        padding-top: 2px;
    }
    .select {
        select {
            width: 100%;
            padding-right: 20px;
        }
        .subcategory {
            padding-left: 20px;
        }
    }
    textarea {
        min-width: 100%;
    }
    .level {
        width: 100%;
    }
}
</style>
