<template>
<div class="dashboard">
    <div class="columns">
        <div class="column is-size-5 has-text-centered">
            Accounts
        </div>
    </div>

    <div class="tile is-ancestor" v-for='account in accounts'>
        <div class="tile is-parent">
            <div class="tile is-5 is-vertical">
                <div class="card">
                    <header class='card-header'>
                        <div class='card-header-title'>
                            <router-link class='account-header'
                                         :to="{name: 'accountdetails',
                                               params: {id: account.id}}">
                                {{ account.name }}
                            </router-link>
                        </div>
                    </header>
                    <div class="card-content">
                        <keyvaluebox>
                            <div slot='key'>Balance:</div>
                            <div slot='value'>
                                <formatCurrency :amount="account.balance"></formatCurrency>
                            </div>
                        </keyvaluebox>
                        <keyvaluebox>
                            <div slot='key'>Type</div>
                            <div slot='value'>{{ account.type }}</div>
                        </keyvaluebox>

                        <keyvaluebox>
                            <div slot='key'>Account Number</div>
                            <div slot='value'>
                                {{ account.id }}
                            </div>
                        </keyvaluebox>
                        <keyvaluebox>
                            <div slot='key'>Created</div>
                            <div slot='value'>
                                {{ monthString(account.updated_at) }}
                                {{ dayNumber(account.updated_at) }},
                                {{ yearNumber(account.updated_at) }}
                            </div>
                        </keyvaluebox>

                        <div v-if='account.transactions[0]'>
                            <keyvaluebox>
                                <div slot='key'>
                                    Last Transaction
                                </div>
                                <div slot='value'>
                                    {{ monthString(account.transactions[0].created_at) }}
                                    {{ dayNumber(account.transactions[0].created_at) }},
                                    {{ yearNumber(account.transactions[0].created_at) }}
                                </div>
                            </keyvaluebox>
                            <keyvaluebox>
                                <div slot='key'>
                                    Type
                                </div>
                                <div slot='value'>
                                    {{ account.transactions[0].type }}</p>
                                </div>
                            </keyvaluebox>
                            <keyvaluebox>
                                <div slot='key'>
                                    Amount
                                </div>
                                <div slot='value'>
                                    <formatCurrency :amount="account.transactions[0].amount"></formatCurrency>
                                </div>
                            </keyvaluebox>
                            <keyvaluebox>
                                <div slot='key'>
                                    Paid To
                                </div>
                                <div slot='value'>
                                    {{ account.transactions[0].source }}
                                </div>
                            </keyvaluebox>
                        </div>
                        <div v-else>
                            <keyvaluebox>
                                <div slot='key'>
                                    Last Transaction
                                </div>
                                <div slot='value'>
                                    None
                                </div>
                            </keyvaluebox>
                        </div>
                    </div>
                </div>

                <div class="tile is-child box" v-if='account.transactions[0]'>
                    <accountLineChart
                        :account='account'
                        chartlabel='Monthly Ending Balance'
                        chartbackground='#f87979'>
                    </accountLineChart>
                </div>

            </div>
            <div class="tile is-vertical is-child is-6 box" v-if='account.transactions[0]'>
                <div class="tile is-child box">
                    <expendinturechart
                        :account='account'>
                    </expendinturechart>
                </div>
                <div class="tile is-child box">
                    <incomechart
                        :account='account'>
                    </incomechart>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import dateFormat from './../../mixins/DateFormat.js';
import accountLineChart from './../common/AccountLineChart';
import expendinturechart from './../common/ExpenditureChart';
import incomechart from './../common/IncomeChart';
import keyvaluebox from './../helpers/KeyValueBox';

export default {
    components: {
        formatCurrency,
        accountLineChart,
        expendinturechart,
        incomechart,
        keyvaluebox,
    },

    data: () => ({
        user: '',
        accounts: [],
    }),

    mixins: [
        dateFormat
    ],

    mounted () {
        const token = localStorage.getItem('token');
        const header = 'Bearer ' + token;
        axios.get('/api/user/accounts',
            {
                headers: {
                    'Authorization' : header
                }
        })
            .then(response => {
                this.user = response.data.user;
                this.accounts = response.data.accounts;
            })
            .catch(error => {
                console.log(error);
            })
    },
}
</script>

<style lang="scss" scoped>
.dashboard {
    margin: 20px;

    .card {
        width: 100%;
        margin-bottom: 10px;
    }
}
</style>
