<template>
<div class="user-menu">
    <div class="hero is-fullheight">
        <div class="tile is-ancestor">
            <div :class='navmenu'>
                <div class="tile is-parent is-vertical">
                    <div class="tile is-child">
                        <div class="columns">
                            <div class="column">
                                <p>{{ user.first_name }} {{ user.last_name }}</p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column menu-item">
                                <router-link :to="{name: 'dashboard'}">
                                    <icon name='user'></icon>
                                    <a @click='MenuClick'>Home</a>
                                </router-link>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column menu-item">
                                <router-link :to="{name: 'useraccounts'}">
                                    <icon name='bank'></icon>
                                    <a @click='MenuClick'>Accounts</a>
                                </router-link>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column menu-item">
                                <router-link :to="{name: 'messages'}">
                                    <icon name='envelope'></icon>
                                    <a @click='MenuClick'>Messages</a>
                                    <span class="tag is-primary" :title='MessageTooltip'>
                                        {{ messages_unread + ' / ' + messages_total}}
                                    </span>
                                </router-link>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column menu-item">
                                <router-link :to="{name: 'createtransaction'}">
                                    <icon name='pencil'></icon>
                                    <a @click='MenuClick'>Create Transaction</a>
                                </router-link>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column menu-item">
                                <router-link :to="{name: 'transfer'}">
                                    <icon name='money'></icon>
                                    <a @click='MenuClick'>Funds Transfer</a>
                                </router-link>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column menu-item">
                                <router-link :to="{name: 'userprofile'}">
                                    <icon name='user'></icon>
                                    <a @click='MenuClick'>My Profile</a>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Area -->
            <div class="tile is-parent">
                <div class="tile is-child">
                    <transition name='slide'>
                        <router-view></router-view>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    components: {
        EventBus
    },

    data () {
        return {
            user: "",
            messages_total: '',
            messages_unread: '',
            navmenu: 'menu is-3 is-hidden-mobile menutoggle',
            nav_menu_active: false
        }
    },

    computed: {
        MessageTooltip () {
            return this.messages_unread + ' Unread / ' + this.messages_total + ' Total';
        }

    },

    created () {
        EventBus.$on('messagedeleted', () => {
            this.MessageCount();
        });
        EventBus.$on('messageread', () => {
            this.MessageCount();
        });
        EventBus.$on('mobilenav', () => {
            this.NavMenu();
        });
        EventBus.$emit('menureset');
    },

    mounted () {
        const token = localStorage.getItem('token');
        const header = 'Bearer ' + token;
        axios.get('/api/user',
            {
                headers: {
                    'Authorization' : header
                }
            })
            .then(response => {
                this.user = response.data.user;
            })
            .catch(error => {
                this.$router.replace({name: 'signin'});
                // console.log(error);
            });

            this.MessageCount()
    },

    methods: {
        MenuClick () {
              EventBus.$emit('mobilenav');
        },

        NavMenu () {
            this.nav_menu_active = !this.nav_menu_active;
            this.navmenu = 'menu is-3';
            if (!this.nav_menu_active) {
                this.navmenu += ' is-hidden-mobile menutoggle';
            }
        },

        MessageCount () {
            const token = localStorage.getItem('token');
            const header = 'Bearer ' + token;
            axios.get('/api/user/messages/count',
            {
                headers: {
                    'Authorization' : header
                }
            })
            .then(response => {
                this.messages_total = response.data.total;
                this.messages_unread = response.data.unread;
            })
            .catch(error => {
                this.messages_total = '?';
                this.messages_unread = '?';
            })
        },
    }
}
</script>

<style lang="scss" scoped>
@import './../../../sass/_mixins.scss';
@import './../../../sass/_variables.scss';

.user-menu {
    @include full-height;
    @include menu;

    .tag {
        margin-left: 10px;
    }
    // @media screen and (max-width: 769px) {
    //     .menutoggle {
    //         transform: translateX(-100%);
    //     }
    // }
}
</style>
