<template>
    <div class="messages">
        <div class="columns">
            <div class="column is-8 is-offset-2 is-hidden-mobile">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            {{ user.first_name }} {{ user.last_name }}
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            {{ user.email }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-10">
                <p>Messages</p>
            </div>
        </div>
        <div v-for='message in messages' v-if='message.active == "true"'>
            <div class="columns">
                <div class='column is-10'>
                    <message :message='message'></message>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import message from './Message';

export default {
    components: {
        message
    },

    data() {
        return {
            user: "",
            messages: []
        }
    },

    mounted () {
        const token = localStorage.getItem('token');
        const header = 'Bearer ' + token;
        axios.get('/api/user/messages',
            {
                headers:
                {
                    'Authorization' : header
                }
            })
            .then(response => {
                this.user = response.data.user;
                this.messages = response.data.messages;
                console.log(response.data.messages);
            })
            .catch(error => {
                console.log(error);
            })
    }
}
</script>
<style lang="scss" scoped>
.messages {
    margin-left: 10px;
    margin-right: 10px;
    .level {
        .level-left {
            padding-left: 10px;
        }
    }
    .level {
        width: 100%;
    }
}
</style>
