<template>
    <div class="user-message">
        <div class="columns">
            <div class="column">
                <span class="control has-icons-right">
                    <span class='message'>
                        <span class="message-header">

                            <div :class="status">

                                <!-- <span :class="status"> -->
                                    <div class="level-left">
                                        <a @click='showbody = !showbody'>
                                            {{ message.subject }}
                                        </a>
                                    </div>
                                <!-- </span> -->

                                <div class='level-right'>

                                    <div class="column">
                                        <div class="columns is-mobile">
                                            <div class="column">
                                                <div class="level-item has-text-centered" :title='message.created_at'>
                                                    {{ monthStringAbbr(message.created_at) }} -
                                                    {{ dayNumber(message.created_at) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columns">
                                            <div class="column">
                                                <span>
                                                    <button type="button"
                                                    name="delete"
                                                    class='delete'
                                                    @click='DeleteMessage()'>
                                                </button>
                                                <icon
                                                :title='message.pivot.read == "false" ? "Message Unread" : "Message Read"'
                                                :name='message.pivot.read == "false" ? "envelope-o" : "envelope-open-o"'>
                                                </icon>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </span>
                        <transition name="slide-fade">
                            <div class="message-body" v-show='showbody'>
                                {{ message.body }}
                                <footer>
                                    <div class="control column is-3">
                                        <a type="button"
                                        class='button is-primary is-small'
                                        name="button"
                                        @click='MarkRead()'
                                        v-show='message.read != "true"'>
                                        Mark Read
                                        </a>
                                    </div>
                                </footer>
                            </div>
                        </transition>
                    </span>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
import dateFormat from './../../mixins/DateFormat.js';

export default {
    components: {
        EventBus
    },

    mixins: [
        dateFormat
    ],

    props: {
        message: {
            type: Object
        },
    },

    computed: {
        status () {
            let mb = 'read';
            if (this.message.pivot.read == 'false') {
                mb = 'unread';
            }
            if (this.message.important == 'true') {
                mb = 'important'
            }
            return 'level is-mobile is-' + mb;
        },
    },

    methods: {
        DeleteMessage () {
            const token = localStorage.getItem('token');
            const header = 'Bearer ' + token;
            axios.get('/api/user/message/' + this.message.id + '/delete',
                {
                    headers:
                    {
                        'Authorization' : header
                    }
                })
                .then(response => {
                    this.message.active = false;
                    EventBus.$emit('messagedeleted');

                })
                .catch(error => {
                    console.log(error);
                })
        },

        MarkRead () {
            const token = localStorage.getItem('token');
            const header = 'Bearer ' + token;
            axios.get('/api/user/message/' + this.message.id + '/mark',
                {
                    headers:
                    {
                        'Authorization' : header
                    }
                })
                .then(response => {
                    this.message.pivot.read = true;
                    EventBus.$emit('messageread');
                })
                .catch(error => {
                    console.log(error);
                })
        },
    },

    data: () => ({
        showbody: false
    }),
}
</script>

<style lang="scss" scoped>
.user-message {
    .level {
        width: 100%;
        .level-left {
        }
        .level-item {
            margin-left: 15px;
        }
        .level-right {
            .columns {
                margin: 0;
                padding: 0;
            }
            .column {
                margin: 0;
                padding: 0;
            }
        }
    }
    .slide-fade-enter-active {
      transition: all .4s linear;
    }
    .slide-fade-leave-active {
      transition: all .4s ease-out;
    }
    .slide-fade-enter, .slide-fade-leave-to {
    //   transform: translateX(30px);
      opacity: 0;
    }
    button {
        margin-top: 15px;
    }
    .fa-icon {
        margin-top: 10px;
    }
    .message {
        .message-header {
            color: inherit;
            border: 1px solid darkgrey;
            border-radius: 6px;
            background-color: white;
            a {
                // padding-left: 15%;
                text-decoration: none;
            }
            button {
                margin-top: 10px;
                margin-left: 10px;
                margin-right: 10px;
                &:hover {
                    background-color: red;
                }
            }
        }
    }
    .is-unread {
        border-left: 5px solid #448ada;
        padding-left: 10px;
    }
    .is-read {
        border-left: 5px solid #3cb991;
        padding-left: 10px;
    }
    .is-important {
        border-left: 5px solid red;
        padding-left: 10px;
    }
}
</style>
