
<template>
    <div class="profile-menu">
        <div class="tile is-ancestor">
            <div :class='navmenu'>
                <div class="tile is-parent is-vertical">
                    <div class="tile is-child">
                        <div class="columns">
                            <div class="column">
                                Profile
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column menu-item">
                                <router-link :to="{name: 'dashboard'}">
                                    <icon name='user'></icon>
                                    <a @click='MenuClick'>Home</a>
                                </router-link>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column menu-item">
                                <router-link :to="{name: 'changedata'}">
                                    <icon name='user-circle'></icon>
                                    <a @click='MenuClick'>About Me</a>
                                </router-link>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column menu-item">
                                <router-link :to="{name: 'changepassword'}">
                                    <icon name='edit'></icon>
                                    <a @click='MenuClick'>Change Password</a>
                                </router-link>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column menu-item">
                                <router-link :to="{name: 'usercreatecategory'}">
                                    <icon name='edit'></icon>
                                    <a @click='MenuClick'>Create Category</a>
                                </router-link>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Content Area -->
            <div class="tile is-parent">
                <div class="tile is-child">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    components: {
        EventBus
    },
    data () {
        return {
            user: "",
            navmenu: 'menu is-3 is-hidden-mibile menutoggle',
            nav_menu_active: false
        }
    },

    created () {
        EventBus.$on('mobilenav', () => {
            this.NavMenu();
        });
        EventBus.$emit('menureset');
    },

    methods: {
        MenuClick () {
              EventBus.$emit('mobilenav');
        },

        NavMenu () {
            this.nav_menu_active = !this.nav_menu_active;
            this.navmenu = 'menu is-3';
            if (!this.nav_menu_active) {
                this.navmenu += ' is-hidden-mobile menutoggle';
            }
        },
    },

    mounted () {
        const token = localStorage.getItem('token');
        const header = 'Bearer ' + token;
        axios.get('/api/user',
            {
                headers: {
                    'Authorization' : header
                }
        })
            .then(response => {
                this.user = response.data.user;
                // console.log(response);
            })
            .catch(error => {
                this.$router.replace({name: 'signin'});
                // console.log(error);
            })
    }

}
</script>

<style lang="scss" scoped>
@import './../../../sass/_mixins.scss';
@import './../../../sass/_variables.scss';

.profile-menu {
    @include full-height;
    @include menu;

    @media screen and (max-width: 769px) {
        .menutoggle {
            transform: translateX(-100%);
        }
    }
    .level {
        width: 100%;
    }
}

</style>
