<template>
    <div class="transfer">

        <div class="columns">
            <div class="column is-4 is-offset-1">

                <div class="columns">
                    <p>Account From</p>
                </div>
                <div class='control'>
                    <span class="select">
                        <select v-model='account_from'>
                            <option value="" disabled>Account From</option>
                            <option v-for='account in accounts'
                                    v-if="account.status === 'active'"
                                    v-bind:value='account.id'
                                     @click='ValidateAccountFrom(account)'
                                    :disabled='account_from == account.id'>
                                    <span class='level is-mobile'>
                                        <span class="level-left">
                                            Account: {{ account.id }}
                                        </span>
                                        <span class="level-item">
                                            (<formatCurrency :amount="account.balance"></formatCurrency>)
                                        </span>
                                    </span>
                            </option>
                        </select>
                    </span>
                </div>

                <div class="columns">
                    <p>Account To</p>
                </div>
                <div class='control'>
                    <span class="select">
                        <select v-model='account_to'>
                            <option value="" disabled>Account To</option>
                            <option v-for='account in accounts'
                                    v-if="account.status === 'active'"
                                    v-bind:value='account.id'
                                    :disabled='account_from == account.id'>
                                    <span class='level is-mobile'>
                                        <span class="level-left">
                                            Account: {{ account.id }}
                                        </span>
                                        <span class="level-item">
                                            (<formatCurrency :amount="account.balance"></formatCurrency>)
                                        </span>
                                    </span>
                            </option>
                        </select>
                    </span>
                </div>
                <div class="columns">
                    <p>Amount</p>
                </div>
                <div class='control'>
                    <numberinput :min='5'
                                 min_error_msg='Minimum Transfer value is $5.00'
                                 :max='max_ammount'
                                 max_error_msg='Account balance exceded'
                                 :disabled='max_ammount < 5'>
                    </numberinput>
                </div>
                <div class="columns">
                    <p>Comments</p>
                </div>
                <div class="control">
                    <textarea type="textarea" class="textarea" v-model='comments'></textarea>
                </div>
                <div class="columns">
                    <div class="level">
                        <div class="level-item">
                            <div class="control">
                                <a class='button is-primary' @click='Submit()'>Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import formatCurrency from './../helpers/formatCurrency';
import numberinput from './../helpers/numberInput';

export default {
    components: {
        formatCurrency,
        numberinput
    },

    data: () => ({
        accounts: [],
        account_from: '',
        account_to: '',
        amount: '',
        comments: '',
        max_ammount: 0
    }),

    created () {
        EventBus.$on('numberinput', (value) => {
            this.amount = value;
        });
    },

    mounted () {
        const token = localStorage.getItem('token');
        const header = 'Bearer ' + token;
        axios.get('/api/user/accounts',
            {
                headers:
                {
                    'Authorization' : header
                }
            })
            .then(response => {
                // this.user = response.data.user;
                this.accounts = response.data.accounts;
            })
            .catch(error => {
                console.log(error);
            })
    },

    methods: {
        Submit () {
            const token = localStorage.getItem('token');
            const header = 'Bearer ' + token;
            axios.post('/api/user/transaction/transfer',
                {
                    'account_from' : this.account_from,
                    'account_to' : this.account_to,
                    'amount' : this.amount,
                    'comments' : this.comments
                },
                {
                    headers:
                    {
                        'Authorization' : header
                    }
                })
                .then(response => {
                    this.$router.push({ name: 'dashboard' })
                })
                .catch(error => {
                    console.log(error);
                })

        },

        ValidateAccountFrom(from) {
            if(from.balance > 0) {
                this.max_ammount = from.balance;
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.transfer {
    margin-left: 10px;
    margin-right: 10px;
    input {
        margin-bottom: 20px;
    }
    .columns {
        margin: 0;
    }
    .column {
        padding-left: 0;
        padding-right: 0;
    }
    .select {
        margin-bottom: 20px;
        select {
            padding-right: 20px;
        }
    }
    .level {
        width: 100%;
    }
    .button {
        margin-top: 20px;
    }
    .level {
        margin-right: 25px;
    }
}
</style>
