<template>
    <div class="transaction">
        <!-- Transaction via Table -->
        <div class="columns is-hidden-mobile">
            <div class='column'>
                {{ monthStringAbbr(transaction.updated_at) }}
                {{ dayNumber(transaction.updated_at) }},
                {{ yearNumber(transaction.updated_at) }} :
                {{ timeNumber(transaction.updated_at) }}
            </div>
            <div class='column'>{{ transaction.type }}</div>
            <div class='column has-text-centered'>
                <formatCurrency :amount="transaction.amount"></formatCurrency>
            </div>
            <div class='column'>
                <span v-show='transaction.type == "transfer"'>Account: </span>
                {{ transaction.source }}
            </div>
            <div class='column has-text-centered'>
                <formatCurrency :amount='transaction.balance'></formatCurrency>
            </div>
        </div>
        <!-- Transaction via Card         -->
        <div class="card is-hidden-tablet">
            <header class='card-header'>
                <p class='card-header-title'>
                    <span>
                        Transaction ID:  {{ transaction.id }}
                    </span>
                </p>
            </header>
            <div class="card-content">
                <p>
                    Date:
                    {{ monthString(transaction.created_at) }}-
                    {{ dayNumber(transaction.created_at) }}-
                    {{ yearNumber(transaction.created_at) }}
                    {{ timeNumber(transaction.created_at) }}
                </p>
                <p>
                    Type: {{ transaction.type }}
                </p>
                <p>
                    Amount:
                    <formatCurrency :amount="transaction.amount"></formatCurrency>
                </p>
                <!-- <p>
                    Balance:
                    <formatCurrency :amount='transaction.balance'></formatCurrency>
                </p> -->
                <p>
                    Comments: {{ transaction.comments }}
                </p>
                <p>
                    Source:
                    <span v-show='transaction.type == "transfer"'>
                        Account: {{ transaction.source }}
                    </span>
                </p>
            </div>
        </div>

    </div>
</template>

<script>
import dateFormat from './../../mixins/DateFormat.js';

export default {
    components: {
        formatCurrency
    },

    props: {
        transaction: {
            type: Object,
            required: true
        },
        account: {
            type: Object,
            required: true
        },
    },

    mixins: [
        dateFormat
    ],
}
</script>

<style lang="scss" scoped>
.columns {
    padding-top: 5px;
    margin: 0;
    .column {
        padding: 5px;
    }
    .card {
        margin-bottom: 10px;
    }
    .level {
        width: 100%;
    }
}
</style>
