<template>
    <div class='userprofile'>

        <div class="columns">
            <div class="card">
                <div class="card-content">
                    <div class="columns">
                        <div class="column has-text-left">
                            {{ user.first_name }} {{ user.last_name }}
                        </div>
                        <div class="column has-text-right">
                            Membership created: {{ user.created_at }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="columns">
            <div class="card">
                <div class="card-content">
                    <div class="column is-5">
                        <p class='has-text-centered is-size-3'>Current Accounts</p>
                        <div class='columns' v-for='account in user.accounts'>
                            <div class="column is-2">
                                {{ account.id }}
                            </div>
                            <div class="column">
                                {{ account.name }}
                            </div>
                            <div class="column has-text-right">
                                <formatCurrency :amount="account.balance"></formatCurrency>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import getAccounts from './../../mixins/GetAccounts_mixin.js';

    export default {
        components: {
            formatCurrency
        },

        mixins: [
            getAccounts,

        ],
}

</script>

<style lang='scss' scoped>
.userprofile {
    margin: 20px;
    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}
</style>
