<template>
    <div id="fine-user">
        <div class="columns">
            
        </div>
        <div class="column">
            <div class="columns headers">
                <div class="column" v-for='header in headers'>{{ header }}</div>
            </div>
            <div class="columns rows" v-for="user in users">
                <div class="column">{{ user->id }}</div>
                <div class="column">{{ user->first_name }} {{ user->last_name}}</div>
                <div class="column">{{ user->email }}</div>
            </div>
        </div>

choose user
choose account
set fine amount
submit
    </div>
</template>
<script>
export default {
    name: "",
    data: () => ({

    })
}
</script>
<style lang="scss" scoped>
</style>
